@import "~@coreui/coreui/scss/coreui";

body {
  overflow: scroll;
}

.login {
  height: 100vh;
  background-color: #ccffff;
  text-align: center;
  .space {
    height: 100px;
  }
  .usernameError {
    border-color: red;
  }
  .passwordError {
    border-color: red;
  }
}

.avatar:hover {
  cursor: pointer;
  opacity: 0.5;
}
.userLabel {
  font-size: 16px;
  // margin-left: -45px;
  // margin-top: 10px;
  .username {
    color: blue;
    &:hover {
      color: red;
      background-color: white;
    }
  }
}
.appliLabel {
  font-size: 35px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
.homeButton {
  margin-right: 10px;
}
.detailButton {
  margin-right: 10px;
}

.prepend {
  width: 100px;
}

.typeSelectBox {
  width: 100px;
  height: 30px;
  border-color: white;
  border-radius: 5px;
}

.table {
  .titleData {
    font-size: 20px;
  }
  .deleteButton {
    text-align: center;
  }
}

.img {
  height: 500px;
}

.detail {
  .image {
    width: 400px;
    height: 300px;
    border: 1px #eeeeee solid;
  }
  .mediaTitle {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }
  .mediaContent {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}
