@import "~@coreui/coreui/scss/coreui";

body {
  overflow: scroll;
}

.avatar:hover {
  cursor: pointer;
  opacity: 0.5;
}
.userLabel {
  font-size: 16px;
  // margin-left: -45px;
  // margin-top: 10px;
  .username {
    color: blue;
    &:hover {
      color: red;
      background-color: white;
    }
  }
}
.appliLabel {
  font-size: 35px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
.homeButton {
  margin-right: 10px;
}

.prepend {
  width: 100px;
}

.table {
  .titleData {
    font-size: 20px;
  }
  .deleteButton {
    text-align: center;
  }
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}
